.titre_menu 
{
    margin-top: 40px;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.235;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    text-align: center;
}
.barre_menu {
    height: 4px;
    width: 55px;
    display: block;
    margin: 8px auto 0;
    background-color: #ff3366;
    margin-bottom: 45px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: auto
    

}


.menu>* {
    flex: 1 1 30;
    height: 400px;
}